#sponsor_container {
     margin: 100px 0px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.sponsor_details {
     width: 251px;
     line-height: 20px;
}

.sponsor_details h1 {
     font-family: Inter, sans-serif;
     font-weight: 700;
     font-size: 62px;
     color: #101131;
}

.sponsor_details p {
     font-family: Inter, sans-serif;
     font-weight: 400;
     font-size: 20px;
     color: #606176;

}

.sponsor_partner img {
     width: 150px;

}

/* responsive for mobile device */
@media (max-width: 600px) {
     #sponsor_container {
          flex-direction: column;
          gap: 25px;
     }

     .sponsor_details {
          width: 100%;
          text-align: center;

     }

     .sponsor_details h1 {
          font-size: 52px;
     }

     .sponsor_partner img {
          width: 100%;
     }
}

/* responsive for tablet */
@media (min-width: 640px) and (max-width: 1024px) {

     .sponsor_partner img {
          width: 100px;

     }

     .sponsor_details {
          width: 150px;

     }

     .sponsor_details h1 {
          font-size: 42px;

     }
}