#nav_main {
     display: flex;
     justify-content: space-between;
     align-items: center;


}

.nav_items ul {
     display: flex;
     justify-content: space-around;
     align-items: center;

}
.nav_items ul li:first-child{
     font-weight: bold;
}

.nav_items ul li , .mobile_device_items .bm-item-list ul li {
     list-style: none;
     margin: 0 20px;
     color: #030303;
     font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
     font-weight: 500;
     font-size: 15px;
     line-height: 18.15px;
     letter-spacing: -1%;
}

.sign_in_btn button, .sign_in_btn_mobile button {
     width: 125px;
     height: 50px;
     border-radius: 12px;
     border: none;
     background-color: #E8F1FF;
     font-family: Inter;
     font-size: 16px;
     font-weight: 600;
     line-height: 19.36px;
     letter-spacing: -0.01em;
     text-align: center;
     text-underline-position: from-font;
     text-decoration-skip-ink: none;
     color: #2378FF;
}

.mobile_device_items{
     display: none;
}

/* responsive for mobile device */
@media screen and (max-width: 600px) {
     #nav_main {
           
               
          
     
          }
                    .nav_items{
                         display: none;
                    }
                    .mobile_device_items {
                         display: block;
                    }
                    .sign_in_btn{
                         display: none;
                    }
}