#lecture_container {
     display: flex;
     justify-content: space-between;
     align-items: center;


}

/* left side items */
.left_side_items {
     width: 480px;
}

.left_side_items h1 {
     font-size: 44px;
}

.left_side_items p {
     color: #333;
     font-size: 18px;
     margin: 30px 0;
}

.left_side_items button {
     background-color: #F77E53;
     width: 190px;
     height: 56px;
     border-radius: 16px;
     border: none;
     font-family: Inter,
          system-ui,
          Avenir,
          Helvetica,
          Arial,
          sans-serif;
     font-weight: 600;
     font-size: 18px;
     letter-spacing: -1%;
     line-height: 21.75px;
     color: #FEF4F1;
}





/* right side items */
.right_side_items {
     position: relative;
}

.main_video {
     background: #F6F5FA;
     width: 545px;
     height: 565px;
     border-radius: 16px;
     position: relative;
}

.main_video img {
     width: 530px;
     position: absolute;
     top: 15%;
     left: -10%;
}

/* lecture video */
.lecture_video_div {
     display: flex;
     align-items: center;
     gap: 20px;
     position: absolute;
     top: 88%;
     left: 1%;

}

.lecture_video {
     box-shadow: 0px 20px 25px -12px #0000000D;
     border-radius: 16px;
     width: 145px;
     height: 115px;
     display: flex;
     align-items: center;
     flex-direction: column;
     background-color: #ffffff;

}

.lecture_video img {
     margin: 30px 30px 0 30px
}

.lecture_video p {
     margin-top: 8px;
     font-weight: 400;

}



/* responsive for tablet */
@media (min-width: 640px) and (max-width: 1024px) {

     #lecture_container {
          flex-direction: column;
     }

     /* left side */
     .left_side_items {
          width: 100%;
          text-align: center;
          margin-bottom: 20px;
     }

     /* right side */
     .main_video img {
          width: 100%;
          top: 15%;
          left: 10%;
     }
}

@media screen and (max-width: 600px) {
     #lecture_container {
          flex-direction: column;
     }

     /* left side */
     .left_side_items {
          width: 100%;
          text-align: center;
          margin-bottom: 20px;
     }

     /* right side */
     .right_side_items {
          width: 100%;
     }

     .main_video {

          width: 100%;
          height: 350px;
     }

     .main_video img {
          width: 100%;
     }


     /* lecture video */
     .lecture_video_div {
          flex-direction: column;
          position: static;
          width: 100%;
          left: 0;
          gap: 40px;

     }

     .lecture_video {
          /* width: 120px; */
          width: 100%;
          height: 140px;
     }

     .lecture_video img {
          width: 30%;
          object-fit: cover;
     }
}

/* responsive for laptop devices */
@media (min-width: 1024px) and (max-width: 1440px) {

     #lecture_container {
          flex-direction: row;
     }

     /* left side */
     .left_side_items {
          width: 350px;
          text-align: left;

     }
           .main_video img {
                width: 530px;
                top: 15%;
                left: -10%;
                object-fit: cover;
           }
}