#footer_component {
     display: flex;
     justify-content: space-between;
     /* align-items: flex-start; */

}

.footer_summery {
     width: 285px;
}

.footer_summery img {
     margin-bottom: 3px;
}

.footer_summery p {
     font-family: Inter;
     font-size: 18px;
     font-weight: 400;
     line-height: 26px;
     letter-spacing: -0.02em;
     text-align: left;
     text-underline-position: from-font;
     text-decoration-skip-ink: none;
     color: #606176;
}

.footer_first_navigation ul li,
.footer_second_navigation ul li {
     list-style: none;
     line-height: 35px;
     color: #606176;
     font-size: 14px;
     font-family: Inter, sans-serif;
}

.footer_first_navigation ul li:first-child,
.footer_second_navigation ul li:first-child {
     font-size: 24px;
     color: #000;
     font-weight: bold;
     margin-bottom: 20px;
}

.get_app h3 {
     margin-bottom: 35px;
     font-size: 24px;
}

.play_store_app,
.app_store_app {
     border: 1px solid #606176;
     display: flex;
     align-items: center;
     gap: 5px;
     margin-bottom: 15px;
     padding: 10px;
     height: 15px;
     border-radius: 8px;
}

.play_store_app img,
.app_store_app img {
     height: 20px;
}

.play_store_app div,
.app_store_app div {
     line-height: 1px;
     font-size: 12px;
}

.play_store_app div p,
.app_store_app div p {
     font-size: 10px;
     font-weight: 500;
     margin-bottom: -8px;

}

.play_store_app div h4,
.app_store_app div h4 {
     font-size: 14px;
}


/* footer bottom */
.footer_bottom {
     font-size: 14px;
     border-top: 2px solid #606176;
     margin-top: 50px;
}

.footer_bottom p {
     margin-top: 30px;
     color: #606176;
}

/* responsive for mobile device */

@media screen and (max-width: 600px) {
     #footer_component {
          margin: 0;
flex-wrap: wrap;

     }

     .footer_summery,
     .footer_summery p {
          width: 100%;
          text-align: center;
     }

     .get_app {
          margin-top: -5px;
     }

}