#banner_container {
     display: flex;
     justify-content: space-between;
     align-items: center;

}

.banner_details {
     width: 450px;
     text-align: left;

}

.banner_details h1 {
     font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
     font-weight: 700;
     font-size: 60px;
     line-height: 72px;
     color: #101130;
}

.banner_details .banner_text {
     color: #606176;
     font-size: 20px;
     line-height: 32px;
     font-family: Roboto, sans-serif;
}

.banner_details button {
     background-color: #F77E53;
     width: 200px;
     height: 62px;
     border-radius: 16px;
     border: none;
     font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
     font-weight: 600;
     font-size: 18px;
     letter-spacing: -1%;
     line-height: 21.75px;
     color: #FEF4F1;
     padding: 10px 20px;
     margin-top: 20px;
}

.learn_more {
     font-family: Roboto, sans-serif;
     font-weight: 400;
     font-size: 18px;
     color: #606176;
}

.learn_more a {
     text-decoration: underline;
     color: #2076FF;
}

.banner_img {

     margin-right: -40px;
}

.banner_img img {
     max-width: 100%;
     height: auto;


}

/* Responsive for mobile */
@media screen and (max-width: 600px) {
     #banner_container {
          flex-direction: column-reverse;
     }

     .banner_details {
          width: 100%;
          text-align: center;
     }

     .banner_details h1 {
          font-size: 30px;
          line-height: 42px;
     }

     .banner_details .banner_text {
          font-size: 18px;
     }

     .banner_img {

          margin-right: 40px;
     }

     .banner_img img {
          width: 100%;
     }
}

/* Responsive for tablet */
@media (min-width: 600px) and (max-width: 1024px) {
     #banner_container {
          flex-wrap: wrap;
     }

     .banner_details {
          width: 100%;
          text-align: center;
     }

     .banner_img {

          margin-right: 40px;
     }

     .banner_details h1 {
          font-size: 30px;
          line-height: 42px;
     }
}

/* Responsive for laptop */
@media (min-width: 1024px) and (max-width: 1440px) {
     #banner_container {
          flex-wrap: nowrap;
     }

     .banner_details {
          width: 450px;
          text-align: left;
     }

     .banner_details h1 {
          font-size: 44px;
     }
     .banner_img {

     margin-right: -10px;
}

}