#banner_container {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.banner_details {
     width: 521px;
}

.banner_details h1 {
     font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
     font-weight: 700;
     font-size: 60px;
     line-height: 72px;
     color: #101130;
}

.banner_details .banner_text {
     color: #606176;
     font-size: 20px;
     line-height: 32px;
     font-family: Roboto, sans-serif;
}

.banner_details button {
     background-color: #F77E53;
     width: 200px;
     height: 62px;
     border-radius: 16px;
     border: none;
     font-family: Inter,
          system-ui,
          Avenir,
          Helvetica,
          Arial,
          sans-serif;
     font-weight: 600;
     font-size: 18px;
     letter-spacing: -1%;
     line-height: 21.75px;
     color: #FEF4F1;
}

.learn_more {
     font-family: Roboto, sans-serif;
     font-weight: 400;
     font-size: 18px;
     color: #606176;
}

.learn_more a {
     text-decoration: underline;
     color: #1ea568;
}

/* responsive for mobile device */
@media screen and (max-width: 600px) {
     #banner_container {
          flex-direction: column-reverse;
     }

     .banner_details {
          width: 100%;
          text-align: center;
     }

     .banner_details h1 {
          font-weight: 700;
          font-size: 30px;
          line-height: 42px;
     }

     .banner_details .banner_text {
          font-size: 18px;
          text-align: center;
     }


     #banner_container img {
          width: 100%;
     }

}

/* responsive for tablet */
@media (min-width: 640px) and (max-width: 1024px) {

     #banner_container {
          flex-wrap: wrap;
     }

     .banner_details {
          width: 100%;
          text-align: center;
     }

     .banner_details h1 {
          font-weight: 700;
          font-size: 30px;
          line-height: 42px;
     }

     .banner_details .banner_text {
          font-size: 18px;
          text-align: center;
     }


     #banner_container img {
          width: 100%;
     }
}